<div>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/products">Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item" >
              <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/products">Products</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/admin/products">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
        <div class="col-md-9">
        <router-outlet #routerOutlet="outlet" (activate)="onActivate($event, routerOutlet)"
        (deactivate)="onDeactivate($event, routerOutlet)">
      </router-outlet>
    </div>
    <div class="col-md-3">
      <button  class="btn btn-success" *ngIf="!cartService.isDisplayed" (click)="onDisplayCart()">Cart<span  *ngIf="cartService.totalQuantity as totalQuantity" class="badge badge-light">{{totalQuantity}}</span>
      </button>
      <router-outlet name="cart"></router-outlet>
    </div>
  </div>
    </div>

<!-- <div class="cart-panel">
    <button class="btn btn-primary cart-toggle" data-bs-toggle="collapse" data-bs-target="#firstPanel">
        First component
    </button>

    <div id="firstPanel" class="collapse">
        <h1>First component</h1>
        <app-first></app-first>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-product-list [products]="productService.getProducts() | async"></app-product-list>
        </div>
        <div class="col-md-4">
            <div class="cart-panel">
                <button class="btn btn-primary cart-toggle" data-bs-toggle="collapse" data-bs-target="#cartPanel">
                    Cart
                </button>

                <div id="cartPanel" class="collapse">
                    <app-cart-list [cartItems]="cartItems" (QuantityIncrease)="onIncreaseQuantityOfCartItems($event)"
                        (QuantityDecrease)="onDecreaseQuantityOfCartItems($event)" (DeleteItem)="onDeleteItemFromCart($event)" [totalSum]="cartService.totalCost"
                        [isEmptyCart]="cartService.isEmptyCart()"
                        [totalQuantity]="cartService.totalQuantity">
                    </app-cart-list>
                </div>
            </div>
        </div>
    </div>
</div>
<br> -->
</div>
  </div>
